a.button {
  text-decoration: none;

  &.default {
    background-color: transparent;
    color: var(--color-grey);

    &:hover,
    &:active,
    &.active {
      background-color: var(--color-light-purple);
      color: var(--color-purple);
    }

    &:focus-visible {
      box-shadow: 0 0 0 4px var(--color-purple-hover);
      outline-color: transparent;
      outline-style: solid;
    }
  }

  &.links::before {
    height: 20px;
    mask-image: url('/app/assets/images/icon-links-header.svg');
    padding-block-start: 6px;
    width: 21px;
  }

  &.profile::before {
    height: 20px;
    mask-image: url('/app/assets/images/icon-profile-details-header.svg');
    padding-block-start: 8px;
    width: 21px;
  }

  &.preview::before {
    height: 20px;
    mask-image: url('/app/assets/images/icon-preview-header.svg');
    padding-block-start: 8px;
    width: 20px;
  }

  &.links::before,
  &.profile::before,
  &.preview::before {
    align-items: center;
    background-color: currentcolor;
    content: '';
    display: flex;
    justify-content: center;
    margin-inline-end: 0.64rem;
    mask-repeat: no-repeat;
  }

  &.icon-only {
    font-size: 0;
    height: 42px;
    width: 74px;

    &.preview {
      width: 52px;
    }

    &::before,
    &::after {
      margin: 0;
      padding: 0;
    }
  }

  @media screen and (width >= 48em) {
    :not(&.preview.icon-only) {
      &.preview::before {
        display: none;
      }
    }
  }
}

.button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  line-height: 150%;
  min-height: 2.88rem;
  min-width: 10ch;
  padding-block: 0.69rem 0.69rem;
  padding-inline: 0;
  text-align: center;
  transition: 220ms all ease-in-out;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

.primary {
  background-color: var(--color-purple);
  color: var(--color-white);

  &:hover,
  &:active {
    background-color: var(--color-purple-hover);
    box-shadow: 0 0 32px hsl(252deg 100% 62% / 25%);
  }

  &:focus-visible {
    box-shadow: 0 0 0 4px var(--color-purple-hover);
    outline-color: transparent;
    outline-style: solid;
  }

  &:disabled {
    background-color: var(--color-purple);
    box-shadow: none;
    opacity: 0.25;
  }
}

.secondary {
  background-color: transparent;
  border: 1px solid var(--color-purple);
  color: var(--color-purple);

  &:hover,
  &:active {
    background-color: var(--color-light-purple);
  }

  &:focus-visible {
    box-shadow: 0 0 0 4px var(--color-purple);
    outline-color: transparent;
    outline-style: solid;
  }

  &:disabled {
    background-color: transparent;
    opacity: 0.25;
  }
}

.medium {
  padding-inline: 1.7rem;
}

.full {
  width: 100%;
}
